<section class="item-wrapper">
  <div class="title-group">
    <div class="title-id">Azonosító</div>
    <div class="title-method">Befizetés módja</div>
    <div class="title-date">Dátum</div>
    <div class="title-amount">Összeg</div>
    <div class="title-status">Státusz</div>
    <div></div>
    <div></div>
  </div>

  <div class="accordion-wrapper">
    @for (payment of payments; track payment.id) {
    <div ngbAccordion>
      <div ngbAccordionItem class="accordion">
        <div ngbAccordionHeader class="accordion-header">
          <div class="details-group">
            <div class="id">
              <button class="id-extension-btn">
                <img src="extension arrow.png" alt="extension arrow" />
              </button>
              <span>{{ payment.id }}</span>
            </div>
            <div class="method">{{ payment.method }}</div>
            <div class="date">{{ payment.date }}</div>
            <div class="amount">{{ payment.amount }} Ft</div>
            <div class="status">
              <div class="indicator" [ngClass]="payment.status"></div>
              {{ payment.status }}
            </div>
            <div class="paperclip">
              <img src="paperclip.png" alt="paperclip" />
            </div>
            <button ngbAccordionButton></button>
          </div>
        </div>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>Content for the first item</ng-template>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</section>
