.accordion {
  box-shadow: 0 4px 8px #0000001a;
}
.accordion-header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  button {
    border: none;
    background-color: white;
    justify-self: center;
    align-self: center;
    box-shadow: none;
    &:focus {
      outline: none;
    }
  }
}

.details-group {
  display: grid;
  grid-template-columns: var(--main-grid-cell-width) 120px repeat(2, 90px) 110px 20px 20px;
  gap: 30px;
}

.details-group > div {
  width: 100%;
  align-content: center;
  font-size: 14px;
}

.details-group {
  padding-right: 30px;
  height: 100%;

  .amount {
    font-weight: 600;
  }
  .method {
    span {
      &.hidden {
        display: none;
      }
    }
  }
}

.expand-btn {
  width: 36px;
  padding: 0 10px 0 20px;
  .id-extension-btn {
    display: flex;
    transition: transform 0.3s ease;
    &.expanded {
      transform: rotate(180deg);
    }
  }

  img {
    display: none;
    &.long-id {
      display: block;
      width: 6px;
      height: 12px;
      color: #283168;
    }
  }
}

.transaction-id {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  &.expanded {
    overflow: visible;
  }
  span {
    &.collapsed {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 15px;
}
.indicator {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  &.Folyamatban {
    background-color: #a1caff;
  }
  &.Beérkezett {
    background-color: #01bba1;
  }
  &.Sikertelen {
    background-color: #dc414f;
  }
}
