main {
  display: flex;
  gap: 30px;
  max-width: 1180px;
  margin: 0 auto;
}

@media screen and (max-width: 1180px) {
  main {
    display: block;
    margin: 0 20px;
  }
}
@media screen and (max-width: 880px) {
  main {
    display: block;
  }
}
