<div class="contract-details-wrapper">
  <h1 class="insurance-type">
    Folyamatos Díjfizetésű Ultra Prémium Életbiztosítás
  </h1>
  <hr />
  <div class="info-group">
    <div class="info-title">Szerződő neve</div>
    <div class="info">Kovács István</div>
  </div>
  <div class="info-group">
    <div class="info-title">Szerződésszám</div>
    <div class="info">87562443</div>
  </div>
  <div class="info-group">
    <div class="info-title">Utolsó befizetés</div>
    <div class="info">2019.06.25.</div>
  </div>
  <div class="info-group">
    <div class="info-title">Biztosítási díj rendezve</div>
    <div class="info">2019.07.01.</div>
  </div>
</div>
