nav {
  display: flex;
  gap: 20px;
  border-bottom: 3px solid #f1f2f4;
  button {
    margin-top: 5px;
    position: relative;
    width: 160px;
    padding: 35px 0 37px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.75px;
    color: #283168;
    background-color: #ffffff;
    font-weight: 400;
    &.active {
      font-weight: 600;
      text-align: center;
      &::after {
        background-color: #01bba1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: transparent;
      transition: background-color 0.3s ease;
    }
  }
}
